name: Build and Deploy Docs

on:
  workflow_call:
    inputs:
      pnpm-version:
        description: "pnpm version"
        type: string
        default: "10.17"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false


jobs:
  build:
    name: Build Documentations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ inputs.pnpm-version }}
          run_install: true
      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5
      - name: Build Docs
        run: pnpm build-docs
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4